.contactMe{
    background: #221e41;
    width: 98%;
    border-top-right-radius: 100px;
    height: 40vh;
    margin-top: 10vh;
    &-content{
        width:1200px;
        margin : auto;
        &_title{
        padding-top: 7.5vh;
            font-size: 48px;
            color: white;
            margin: auto;}
    }
   
}