.intro{

    background: black;
    height: 80%;
    width: 100%;
    position:absolute ;
}
.pro{
    background: brown;
    height: 100%;
}
.textContainer{
    width: fit-content;
    margin: 30% auto ;
}
.title{
    width: fit-content;
    margin: auto;
}
path{
    color: white;
    fill: white;
    width: 50%;
    height: 50%;
}
svg{
   width: auto;
   height: 50%;
   
}
g{
    position: absolute;
    top: 100px;
    
}

.scaling-svg-container {
    position: relative; 
    height: 0; 
    width: 800px; 
    padding: 0;
    padding-bottom: 50px; // you can change its size by chaingin the padding 
    /* override this inline for aspect ratio other than square */
   }
   .scaling-svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
   }