.myProjects{
    height: 80vh;
    &-title{
        margin-top: 5vh;
        margin-left: 5vw;
        color: white;
        font-size: 16pt;
    }
    &-projectsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        height: 70vh;
        width: 60vw;
        margin: auto;
        &_title{
            color: white;
            font-size: 24px;
            font-weight: 800;
        }
        &_description{
            width: 20vw;
            color:white;
            font-size: 18px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
    
}