.mySkills{
    margin:  auto 0 auto 0;
    margin-top: 5vh;
    margin-bottom: 10vh;
    &-title{
        width: fit-content;
        margin: auto;
        font-size: 48px;
        color: black;
    }
    &-grid{
        margin-top: 5vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    .programmingSkills{
        @extend .card;
        display: flex;
        flex-direction: column;
        &-title{
            color:white ;
            width: fit-content;
            margin: 0 auto 0 auto ;
            font-size: 1.3vw;
            font-weight: 600;
        }
    }

    .otherSkills{
        @extend .card;
        color: white;
    }
    }
}