.navBar{
    width: 1200px;

display: flex;
justify-content: space-between;
margin: auto;
padding-top: 40px;
&-list{
    display: flex;
    justify-content: space-between;
    width:600px;
    align-items: flex-end;
    font-weight: 600;
    &_name{
        font-size: 24px;
        color: black;
    }
    
}

}
a{
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
a:hover{
    color:black;
}