html {
  background: linear-gradient(137deg, #f0f8ff, #cfddff);
}

body {
  width: 100%;
  overflow: overlay;
}

* {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #707070;
}

#root {
  height: inherit;
}

.app {
  height: inherit;
}

::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(178deg, #7a4eff, #332e55);
  border-radius: 25px;
}

.intro {
  height: 50vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

path {
  color: black;
  stroke: black;
  stroke-width: 1px;
}

.textContainer {
  position: relative;
  width: 300px;
  height: 100px;
  margin: auto;
  margin-top: 20vh;
}

.scaling-svg-container {
  position: absolute;
  width: 300px;
  padding: 0;
  padding-bottom: 40px;
}

.scaling-svg {
  position: absolute;
  height: 100%;
  width: -moz-fit-content;
  width: 300px;
}

.scaling-svg2 {
  position: absolute;
  height: 100%;
  width: -moz-fit-content;
  width: 300px;
  margin-top: 5vh;
  margin-left: 5px;
}

.navBar {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 40px;
}

.navBar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 600;
}

.navBar-list_name {
  font-size: 24px;
  color: black;
}

a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

a:hover {
  color: black;
}

.myProjects {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 145vh;
  margin-top: 7vh;
}

.myProjects-projectsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 60vw;
  margin: auto;
}

.myProjects-projectsGrid_title {
  color: black;
  font-size: 48px;
  font-weight: 800;
}

.myProjects-projectsGrid_description {
  width: 20vw;
  color: black;
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;
}

.myProjects-secondProjectsGrid {
  padding-top: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 70vh;
  width: 60vw;
  margin: auto;
}

.myProjects-secondProjectsGrid_title {
  color: black;
  font-size: 48px;
  font-weight: 800;
}

.myProjects-secondProjectsGrid_description {
  width: 20vw;
  color: black;
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;
}

.myProjects .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2vh auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a3267), to(#1e282f));
  background: linear-gradient(180deg, #2a3267, #1e282f 100%);
}

.hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 3rem 1.5rem;
}

@media screen and (min-width: 980px) {
  .hero-body {
    padding: 8rem 1.5rem;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 10px;
  width: 100%;
}

@media screen and (min-width: 980px) {
  .column {
    width: 33.33333333333333%;
  }
}

.card, .mySkills-grid .skills, .toLearn-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 40px;
  background: linear-gradient(96deg, #003db6, #4f70b8);
  -webkit-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  will-change: transform;
  width: 20vw;
  height: 20vh;
  border-radius: 10px;
}

.card-title {
  cursor: default;
  color: white !important;
  font-size: 1.2vw;
  font-weight: 600;
}

.card-body {
  cursor: default;
  color: white !important;
  margin-top: 27px;
  margin-bottom: 27px;
  line-height: 1.5;
  font-size: .9vw !important;
}

@media screen and (min-width: 576px) {
  .card-body {
    font-size: 18px;
  }
}

.card-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  height: inherit;
}

.card-tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  margin-bottom: 27px;
  position: absolute;
  line-height: 1.5;
  font-size: 1.1vw;
  bottom: 0vh;
  left: 2vw;
}

.card-tail a {
  color: white !important;
}

@media screen and (min-width: 576px) {
  .card-tail {
    font-size: 18px;
  }
}

.card-tail a {
  text-decoration: none;
  margin-left: 10px;
}

.image-container {
  margin-top: auto;
  padding-top: 27px;
  border-radius: 5px;
}

.image-container img {
  width: 100%;
  border-radius: 5px;
}

.image-inner-container {
  color: black;
  -webkit-box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  max-width: 350px;
}

.ratio {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mySkills {
  margin: auto 0 auto 0;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.mySkills-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 48px;
  color: black;
}

.mySkills-grid {
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.mySkills-grid .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  height: auto;
  background: #3a3c70;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mySkills-grid .skills-title {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0 auto;
  font-size: 1.2vw;
  font-weight: 600;
}

.mySkills-grid .skills-secondaryTitle {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2vh auto 0  0;
  font-size: 1vw;
  font-weight: 600;
}

.mySkills-grid .skills-list {
  font-size: 1vw;
  list-style-type: none;
}

.mySkills-grid .skills-list li {
  font-size: .9vw;
  color: white;
  text-indent: -5px;
  margin-top: 5px;
}

.mySkills-grid .skills-list li:before {
  font-weight: 800;
  font-size: 20px;
  content: '- ';
  text-indent: -5px;
}

.toLearn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toLearn-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  background: #efa182;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toLearn-card_title {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0 auto;
  font-size: 1.2vw;
  font-weight: 600;
}

.toLearn-card_list {
  font-size: 1vw;
  list-style-type: none;
}

.toLearn-card_list li {
  font-size: .9vw;
  color: white;
  text-indent: -5px;
  margin-top: 5px;
}

.toLearn-card_list li:before {
  font-weight: 800;
  font-size: 20px;
  content: '- ';
  text-indent: -5px;
}

.aboutMe {
  margin-top: 10vh;
  width: 100%;
  background: #6937ff;
  border-top-left-radius: 100px;
}

.aboutMe-content {
  width: 1200px;
  margin: auto;
}

.aboutMe-content_title {
  padding-top: 7.5vh;
  font-size: 48px;
  color: white;
}

.aboutMe-content_text {
  padding-top: 2vh;
  font-size: 24px;
  color: white;
}

.icon {
  font-size: 3vw !important;
}

path {
  color: white !important;
}

.contacts {
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5vh;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  margin-left: 1vw;
  color: white;
  font-size: 1vw;
}

.contactMe {
  background: #221e41;
  width: 98%;
  border-top-right-radius: 100px;
  height: 40vh;
  margin-top: 10vh;
}

.contactMe-content {
  width: 1200px;
  margin: auto;
}

.contactMe-content_title {
  padding-top: 7.5vh;
  font-size: 48px;
  color: white;
  margin: auto;
}

.app {
  width: 1200px;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */