html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow: overlay;
}

* {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #585858;
}

#root {
  height: inherit;
}

.app {
  height: inherit;
}

::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(178deg, #7a4eff, #332e55);
  border-radius: 25px;
}

.intro {
  height: 50vh;
}

.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.square {
  background: linear-gradient(137deg, #f0f8ff, #cfddff);
  border-bottom-right-radius: 150px;
}

path {
  color: black;
  stroke: black;
  stroke-width: 1px;
}

.textContainer {
  position: relative;
  width: 300px;
  height: 100px;
  margin: auto;
  margin-top: 20vh;
}

.scaling-svg-container {
  position: absolute;
  width: 300px;
  padding: 0;
  padding-bottom: 40px;
}

.scaling-svg {
  position: absolute;
  height: 100%;
  width: -moz-fit-content;
  width: 300px;
}

.scaling-svg2 {
  position: absolute;
  height: 100%;
  width: -moz-fit-content;
  width: 300px;
  margin-top: 5vh;
  margin-left: 5px;
}

.navBar {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-top: 40px;
}

.navBar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 600;
}

.navBar-list_name {
  font-size: 24px;
  color: black;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

a:hover {
  color: black;
}

.resume {
  padding: 15px;
  border-radius: 5px;
  background-color: #007eff;
  color: white !important;
  font-weight: 500;
  cursor: pointer;
}

.resume:hover {
  background-color: #3f9af7;
}

.myProjects {
  margin-top: 7vh;
}

.myProjects-projectsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 5vh;
}

.myProjects-projectsGrid_title {
  color: black;
  font-size: 48px;
  font-weight: 800;
}

.myProjects-projectsGrid_description {
  width: 20vw;
  color: black;
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;
}

.myProjects-secondProjectsGrid {
  padding-top: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 70vh;
  width: 60vw;
  margin: auto;
}

.myProjects-secondProjectsGrid_title {
  color: black;
  font-size: 48px;
  font-weight: 800;
}

.myProjects-secondProjectsGrid_description {
  width: 20vw;
  color: black;
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;
}

.myProjects .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2vh auto;
}

.card, .mySkills-grid .skills, .toLearn-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 40px;
  background: linear-gradient(96deg, #003db6, #4f70b8);
  -webkit-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  will-change: transform;
  width: 20vw;
  height: 20vh;
  border-radius: 10px;
}

.card-title {
  cursor: default;
  color: white !important;
  font-size: 22px;
  font-weight: 600;
}

.card-body {
  cursor: default;
  color: white !important;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.2;
  font-size: 16px;
}

.card-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  height: inherit;
}

.card-tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  margin-bottom: 27px;
  position: absolute;
  line-height: 1.5;
  font-size: 1.1vw;
  bottom: 0vh;
  left: 2vw;
}

.card-tail a {
  color: white !important;
  text-decoration: none;
  margin-left: 10px;
}

.image-container {
  margin-top: auto;
  padding-top: 27px;
  border-radius: 5px;
}

.image-container img {
  width: 100%;
  border-radius: 5px;
}

.image-inner-container {
  color: black;
  -webkit-box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  max-width: 350px;
}

.ratio {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mySkills {
  margin: 0 auto 0 auto;
  margin-top: 5vh;
  margin-bottom: 10vh;
  width: 1200px;
}

.mySkills-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 48px;
  color: black;
}

.mySkills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 5vh;
}

.mySkills-grid .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
  height: auto;
  background: #3a3c70;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mySkills-grid .skills-title {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0 auto;
  font-size: 22px;
  font-weight: 600;
}

.mySkills-grid .skills-secondaryTitle {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2vh auto 0  0;
  font-size: 18px;
  font-weight: 600;
}

.mySkills-grid .skills-list {
  list-style-type: none;
}

.mySkills-grid .skills-list li {
  font-size: 16px;
  color: white;
  text-indent: -5px;
  margin-top: 5px;
}

.mySkills-grid .skills-list li:before {
  font-weight: 800;
  font-size: 20px;
  content: '- ';
  text-indent: -5px;
}

.toLearn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toLearn-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 950px;
  padding-bottom: 60px;
  background: #16426f;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.toLearn-card_title {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0 auto;
  font-size: 22px;
  font-weight: 600;
}

.toLearn-card_list {
  font-size: 1vw;
  list-style-type: none;
}

.toLearn-card_list li {
  font-size: 16px;
  color: white;
  text-indent: -5px;
  margin-top: 5px;
}

.toLearn-card_list li:before {
  font-weight: 800;
  font-size: 20px;
  content: '- ';
  text-indent: -5px;
}

.aboutMe {
  margin-top: 10vh;
  width: 100%;
  background: #6937ff;
  border-top-left-radius: 100px;
}

.aboutMe-content {
  width: 1200px;
  margin: auto;
}

.aboutMe-content_title {
  padding-top: 7.5vh;
  font-size: 48px;
  color: white;
}

.aboutMe-content_text {
  padding-top: 2vh;
  font-size: 24px;
  color: white;
}

.aboutMe p {
  margin-left: 1vw;
  color: white;
  font-size: 22px;
}

.icon {
  font-size: 75px !important;
}

path {
  color: white !important;
}

.contacts {
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5vh;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactMe {
  background: #221e41;
  width: 95%;
  border-top-right-radius: 100px;
  height: 40vh;
  margin-top: 10vh;
}

.contactMe-content {
  width: 1200px;
  margin: auto;
}

.contactMe-content_title {
  padding-top: 7.5vh;
  font-size: 48px;
  color: white;
  margin: auto;
}

.card0 {
  width: 450px !important;
  height: 200px !important;
}

.card1 {
  width: 425px !important;
  height: 190px !important;
}

.card2 {
  width: 475px !important;
  height: 225px !important;
}

@media (max-width: 1360px) {
  /*NavBar  NavBar  NavBar  NavBar   NavBar  NavBar    */
  .navBar {
    width: 80vw;
  }
  /*NavBar  NavBar  NavBar  NavBar   NavBar  NavBar    */
  /* Individuald cards Individuald Cards Individuald Cards Individuald Cards Individuald Cards  */
  .card0 {
    width: 33.5vw !important;
    height: 15vw !important;
  }
  .card1 {
    width: 32vw !important;
    height: 14vw !important;
  }
  .card2 {
    width: 35vw !important;
    height: 17vw !important;
  }
  /* Individuald Cards Individuald Cards Individuald Cards Individuald Cards Individuald Cards */
  /* Card Card Card Card Card Card Card Card Card Card Card Card Card */
  .card-title {
    font-size: 1.8vw;
    font-weight: 600;
  }
  .card-body {
    font-size: 1.3vw;
  }
  .card-tail {
    font-size: 1.1vw;
  }
  /* Card Card Card Card Card Card Card Card Card Card Card Card Card */
  /*myProjects myProjects myProjects myProjects myProjects */
  .myProjects-projectsGrid_title {
    color: black;
    font-size: 4vw;
    font-weight: 800;
  }
  .myProjects-projectsGrid_description {
    width: 35vw;
    color: black;
    font-size: 2.5vw;
  }
  /*myProjects myProjects myProjects myProjects myProjects */
  /*mySkills mySkills mySkills mySkills mySkills mySkills */
  .mySkills {
    width: 90vw;
  }
  .mySkills-grid .skills {
    width: 35vw;
    height: auto;
  }
  .mySkills-grid .skills-title {
    font-size: 2.5vw;
  }
  .mySkills-grid .skills-secondaryTitle {
    font-size: 1.8vw;
  }
  .mySkills-grid .skills-list {
    list-style-type: none;
  }
  .mySkills-grid .skills-list li {
    font-size: 1.4vw;
  }
  .toLearn-card {
    width: 800px;
  }
  /*mySkills mySkills mySkills mySkills mySkills mySkills */
  /*Footer  Footer  Footer  Footer  Footer */
  .aboutMe-content {
    width: 80vw;
    margin: auto;
  }
  .aboutMe-content_title {
    font-size: 5vw;
  }
  .aboutMe-content_text {
    font-size: 2.5px;
  }
  .contactMe-content {
    width: 80vw;
    margin: auto;
  }
  .contactMe-content_title {
    font-size: 5vw;
  }
  /*Footer  Footer  Footer  Footer  Footer */
}

@media (max-width: 1000px) {
  /*NavBar  NavBar  NavBar  NavBar   NavBar  NavBar    */
  .navBar {
    width: 80vw;
  }
  .navBar-list {
    width: 400px;
  }
  .navBar-list_name {
    font-size: 2.5vw !important;
  }
  .navBar .resume {
    padding: 10px;
  }
  .navBar a {
    font-size: 10px;
  }
  /*NavBar  NavBar  NavBar  NavBar   NavBar  NavBar    */
  /* Card Card Card Card Card Card Card Card Card Card Card Card Card */
  .card-title {
    font-size: 1.8vw;
    font-weight: 600;
  }
  .card-body {
    font-size: 1.6vw;
    margin-top: 5px;
    line-height: 1;
  }
  .card-tail a {
    font-size: 1.8vw;
  }
  /* Card Card Card Card Card Card Card Card Card Card Card Card Card */
  /*myProjects myProjects myProjects myProjects myProjects */
  .myProjects-projectsGrid_title {
    color: black;
    font-size: 4vw;
    font-weight: 800;
  }
  .myProjects-projectsGrid_description {
    width: 35vw;
    color: black;
    font-size: 2.5vw;
  }
  /*myProjects myProjects myProjects myProjects myProjects */
  /*mySkills mySkills mySkills mySkills mySkills mySkills */
  .mySkills {
    width: 90vw;
  }
  .mySkills-grid .skills {
    width: 35vw;
    height: auto;
    padding: 30px;
  }
  .mySkills-grid .skills-title {
    font-size: 2.5vw;
  }
  .mySkills-grid .skills-secondaryTitle {
    font-size: 2.1vw;
  }
  .mySkills-grid .skills-list {
    list-style-type: none;
  }
  .mySkills-grid .skills-list li {
    font-size: 1.8vw;
  }
  .toLearn-card {
    width: 80%;
  }
  /*mySkills mySkills mySkills mySkills mySkills mySkills */
  /*Footer  Footer  Footer  Footer  Footer */
  .aboutMe-content {
    width: 80vw;
    margin: auto;
  }
  .aboutMe-content_title {
    padding-top: 7.5vh;
    font-size: 4.5vw;
    color: white;
  }
  .aboutMe-content_text {
    font-size: 2px;
  }
  .aboutMe p {
    margin-left: 1vw;
    color: white;
    font-size: 2vw;
  }
  .icon {
    font-size: 6vw !important;
  }
  .contactMe-content_title {
    font-size: 4.5vw;
  }
  /*Footer  Footer  Footer  Footer  Footer */
}

@media (max-width: 750px) {
  /*NavBar  NavBar  NavBar  NavBar   NavBar  NavBar    */
  .navBar {
    width: 80vw;
  }
  .navBar-list {
    width: 55vw;
  }
  .navBar-list_name {
    font-size: 2.5vw !important;
  }
  .navBar .resume {
    padding: 10px;
  }
  .navBar a {
    font-size: 1.6vw;
  }
  /*NavBar  NavBar  NavBar  NavBar   NavBar  NavBar    */
  /* INTRO INTRO INTRO*/
  .scaling-svg-container {
    padding-bottom: 30px;
  }
  .scaling-svg2 {
    width: 215px;
    margin-left: 40px;
  }
  /* Individuald cards Individuald Cards Individuald Cards Individuald Cards Individuald Cards  */
  .card0 {
    width: 80vw !important;
    height: 40vw !important;
  }
  .card1 {
    width: 80vw !important;
    height: 40vw !important;
  }
  .card2 {
    width: 80vw !important;
    height: 40vw !important;
  }
  /* Individuald Cards Individuald Cards Individuald Cards Individuald Cards Individuald Cards */
  /* Card Card Card Card Card Card Card Card Card Card Card Card Card */
  .card, .mySkills-grid .skills, .toLearn-card {
    padding: 20px;
    margin-top: 5vh;
  }
  .card-title {
    font-size: 3.8vw;
    font-weight: 600;
  }
  .card-body {
    font-size: 3vw;
    margin-top: 5px;
    line-height: 1;
  }
  .card-tail a {
    font-size: 3.2vw;
  }
  /* Card Card Card Card Card Card Card Card Card Card Card Card Card */
  /*myProjects myProjects myProjects myProjects myProjects */
  .myProjects-projectsGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
  }
  .myProjects-projectsGrid_title {
    color: black;
    font-size: 10vw;
    font-weight: 800;
  }
  .myProjects-projectsGrid_description {
    width: 80vw;
    color: black;
    font-size: 5vw;
  }
  .myProjects .hideme {
    display: none;
  }
  /*myProjects myProjects myProjects myProjects myProjects */
  /*mySkills mySkills mySkills mySkills mySkills mySkills */
  .mySkills {
    width: 90vw;
  }
  .mySkills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mySkills-grid .skills {
    width: 80vw;
    height: auto;
    padding: 5vw;
  }
  .mySkills-grid .skills-title {
    font-size: 3.5vw;
  }
  .mySkills-grid .skills-secondaryTitle {
    font-size: 3.1vw;
  }
  .mySkills-grid .skills-list {
    list-style-type: none;
  }
  .mySkills-grid .skills-list li {
    font-size: 2.5vw;
  }
  .toLearn-card {
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  /*mySkills mySkills mySkills mySkills mySkills mySkills */
  /*Footer  Footer  Footer  Footer  Footer */
  .aboutMe-content {
    width: 80vw;
    margin: auto;
  }
  .aboutMe-content_title {
    padding-top: 7.5vh;
    font-size: 4.5vw;
    color: white;
  }
  .aboutMe-content_text {
    font-size: 2px;
  }
  .aboutMe p {
    margin-left: 1vw;
    color: white;
    font-size: 2vw;
  }
  .icon {
    font-size: 9vw !important;
  }
  .contactMe-content .contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    justify-items: center;
    gap: 20px;
  }
  .contactMe-content_title {
    font-size: 4.5vw;
  }
  .contactMe .email {
    font-size: 2vw;
  }
  /*Footer  Footer  Footer  Footer  Footer */
}

@media (max-width: 400px) {
  .navBar-list {
    display: none;
  }
  .navBar .resume {
    font-size: 5vw;
  }
  /* Card Card Card Card Card Card Card Card Card Card Card Card Card */
  .card, .mySkills-grid .skills, .toLearn-card {
    padding: 20px;
    margin-top: 5vh;
  }
  .card-title {
    font-size: 3.8vw;
    font-weight: 600;
  }
  .card-body {
    font-size: 3vw;
    margin-top: 5px;
    line-height: 1;
  }
  .card-tail a {
    font-size: 3.2vw;
  }
  /* Card Card Card Card Card Card Card Card Card Card Card Card Card */
  /*myProjects myProjects myProjects myProjects myProjects */
  .myProjects-projectsGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
  }
  .myProjects-projectsGrid_title {
    color: black;
    font-size: 10vw;
    font-weight: 800;
  }
  .myProjects-projectsGrid_description {
    width: 80vw;
    color: black;
    font-size: 5vw;
  }
  .myProjects .hideme {
    display: none;
  }
  /*myProjects myProjects myProjects myProjects myProjects */
  /*mySkills mySkills mySkills mySkills mySkills mySkills */
  .mySkills {
    width: 90vw;
  }
  .mySkills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mySkills-grid .skills {
    width: 80vw;
    height: auto;
    padding: 5vw;
  }
  .mySkills-grid .skills-title {
    font-size: 6vw;
  }
  .mySkills-grid .skills-secondaryTitle {
    font-size: 5vw;
  }
  .mySkills-grid .skills-list {
    list-style-type: none;
  }
  .mySkills-grid .skills-list li {
    font-size: 4vw;
  }
  .toLearn-card {
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .toLearn-card_title {
    font-size: 6vw;
  }
  .toLearn-card_list li {
    font-size: 4vw;
  }
  /*mySkills mySkills mySkills mySkills mySkills mySkills */
  /*Footer  Footer  Footer  Footer  Footer */
  .aboutMe-content {
    width: 80vw;
    margin: auto;
  }
  .aboutMe-content_title {
    padding-top: 7.5vh;
    font-size: 6vw;
    color: white;
  }
  .aboutMe-content_text {
    font-size: 2px;
  }
  .aboutMe p {
    margin-left: 1vw;
    color: white;
    font-size: 4vw;
  }
  .icon {
    font-size: 11vw !important;
  }
  .contactMe-content .contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    justify-items: center;
    gap: 20px;
  }
  .contactMe-content_title {
    font-size: 6vw;
  }
  .contactMe .email p {
    font-size: 2.5vw;
  }
  /*Footer  Footer  Footer  Footer  Footer */
}

.app {
  margin: auto;
}

.loading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50vh;
  font-size: 50px;
  margin: auto;
  margin-top: 5vh;
}
/*# sourceMappingURL=main.css.map */